@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
:root {
    --white: #efe7e2;
    --whiteNormal: #fff;
    --brown: #3b322d;
    --topDinamic: 0px;
}
.container { 
    max-width: 1180px;
    margin: auto;
}
header { background:  var(--brown) }

/* stylization of header__top elements */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0 ;
}
.logo-link { padding-left: 20px }
.contacts { gap: 20px }
.contacts__item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.contacts__link { text-align: right }
.contacts__link-adress {
    font: .85em 'Fira Sans', sans-serif;
    color: var(--white);
}
.contacts__link-phone span:first-of-type {
    font: 1.1em 'Fira Sans', sans-serif;
    color: var(--whiteNormal);
}
.contacts__link-phone span:last-of-type {
    font: .9em 'Fira Sans', sans-serif;
    color: var(--white);
}
.contacts__link span { display: block }

/* styling burger menu elements */
.menu { 
    font: 700 1.5em 'Fira Sans', sans-serif;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 27px #00000080;
    left: -100%;
    transition: left .6s;
    gap: 30px;
    padding: 20px;
    top: var(--topDinamic);
}
.menu-active { left: 0 }
.menu__link {
    font: .9em 'Fira Sans', sans-serif;
    color: var(--white);
}
.bar { 
    cursor: pointer; 
    padding-right: 20px; 
}
.bar-1, .bar-2, .bar-3 {
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: .4s;
}
.bar-active .bar-1 { transform: translateY(8px) rotate(45deg) }
.bar-active .bar-3 { transform: translateY(-8px) rotate(-45deg) }
.bar-active .bar-2 { opacity:0 }

/* stylization of header__content elements */
.header__content {
    min-height: 100vh;
    background: url('../img/headerBg.png') center/cover;
}

@media only screen and (min-width: 768px) {
    
    /* stylization of header__top elements */
    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* styling burger menu elements */
    .menu { 
        top: -100%;
        left: inherit;
        transition: top .6s;
    }
    .menu-active { 
        left: inherit;
        top: var(--topDinamic);
    }
}

@media only screen and (min-width: 1180px) {

    /* styling burger menu elements */
    .menu {
        position: inherit;
        flex-direction: inherit;
        width: inherit;
        box-shadow: inherit;
        font-size: inherit;
    }
    .bar { display: none }
}